{% extends 'base.html.twig' %}

{% block title %}Bord 2 Ligne Accueil{% endblock %}

{% block body %}

<h1 style="text-align: center">Bonjour et bienvenu sur le site de Bord 2 Ligne</h1>

{% endblock %}
