{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Hello HomeController!</h1>
    <div id="map" style="height: 400px;"></div>
    {% endblock %}
    
{% block javascript %}
{% endblock %}
