{% extends 'base.html.twig' %}

{% block title %}Bord 2 Ligne
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
{% endblock %}

{% block body %}
	<div id="map" style="height: calc(100vh - 40px);"></div>
	<div id="markerList"></div>
{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
	<script src="{{ asset('js/home/map.js') }}"></script>
{% endblock %}
