<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar w-100" style="height: 100vh;">
            <div class="sidebar-sticky">
                <div id="menu" class="text-white d-flex align-items-center py-4">
                    <img src="{{ asset('Images/logo.png') }}" alt="Logo" style="width: 70px;" class="mr-2">
                    <h1 class="h5 mb-0 ml-2">Bord 2 Ligne</h1>
                </div>
                <ul class="nav flex-column mt-3">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home_index') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('wiki_index') }}">Wiki Des Poissons</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
