<!-- navbar.html.twig -->
<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/about">Wiki Des Poissons</a></li>
        <li><a href="/contact">Chat/Groupes</a></li>
    </ul>
</nav>
