{% extends 'base.html.twig' %}

{% block title %}Bord 2 Ligne Wiki{% endblock %}

{% block body %}

<section class="poisson"


<h1 style="text-align: center">Bonjour et bienvenu sur la partie wiki de Bord 2 Ligne</h1>

{%for poisson in poissonabledeheckel%}
        
    {{poisson.getnom()}}

{%endfor%}
{% endblock %}
