{% extends 'base.html.twig' %}

{% block title %}Bord 2 Ligne Wiki{% endblock %}

{% block body %}

<h1 style="text-align: center">Bonjour et bienvenu sur la partie wiki de Bord 2 Ligne</h1>

{% endblock %}
