<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('Images/b2l.ico') }}" />
    <style>
        body {
            height: 100vh;
            background-image: url("{{ asset('Images/logo.jpg') }}");
            background-size: cover;
            background-position: center;
            /* Autres styles si nécessaire */
        }
    </style>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% include 'home/navbarPublic.html.twig' %}
{% block body %}{% endblock %}
</body>
</html>
