<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <style>
        body {
            height: 100vh;
            background-image: url("{{ asset('Images/logo.jpg') }}");
            background-size: cover;
            background-position: center;
            /* Autres styles si nécessaire */
        }
    </style>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% include 'home/navbarPublic.html.twig' %}
{% block body %}{% endblock %}
</body>
</html>
