<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bord 2 Ligne{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('Images/b2l.ico') }}" />
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
    {% block meta %}{% endblock %}
</head>
<body>
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <!-- Sidebar -->
        <div id="sidebar" class="col-md-3 col-lg-2 bg-dark">
            {% include 'home/navbarPublic.html.twig' %}
        </div>
        <!-- Content -->
        <div id="content" class="col-md-9 col-lg-10 text-right">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}
<script src="{{ asset('build/app.js') }}" type="module"></script>
{% endblock %}
<div id="js__modal"></div>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
