<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bord 2 Ligne{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('Images/b2l.ico') }}" />
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
    {% block meta %}{% endblock %}
</head>
<body>
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <!-- Sidebar -->
        <div id="sidebar" class="col-md-3 col-lg-2 bg-dark">
            {% include 'home/navbarPublic.html.twig' %}
        </div>
        <!-- Content -->
        <div id="content" class="col-md-9 col-lg-10 text-right" style="padding: 0">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}
<script src="{{ asset('build/app.js') }}" type="module"></script>
{% endblock %}
<div id="js__modal"></div>
</body>
</html>
